* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#logo{
	width: 300px;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

#search{
	background: transparent;
	width: 250px;
	outline: 0;
	border: 0;
	line-height: 1.2rem;
	font-size: 1.1rem;
	padding: .5rem;
}

.search-button{
	float: right;
	font-size: 1.5rem;
	margin-top: .25rem;
	vertical-align: baseline;
	width: 45px;
	text-align: center;
	color: #888;
}

img{
	max-width: 100%;
}

.align-right{
	text-align: right;
}

.left{
	float: left;
}

.right{
	float: right;
}

.card{
	background: #fbe4d4;
	padding: 1rem;
	margin: .5rem;
}

.product{
	margin: 1rem 0 3rem;
}

.product-img{
	width: 20%;
	height: 11vw;
	border-radius: 1rem;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.product-img img{
	position: absolute;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
}

.product-title{
	width: calc(80% - 15rem);
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	margin-top: 4vw;
}

.product-quantity-wrapper{
	width: 7rem;
	display: inline-block;
	font-size: 1.2rem;
	vertical-align: top;
	margin-top: 4vw;
}

.product-quantity-button{
	font-size: 2rem;
	font-family: monospace;
	border: 1px solid #333;
	background: #ffd966;
	margin: 0;
	line-height: 2.4rem;
	padding: 0.2rem .3rem;
	display: inline;
	vertical-align: top;
	cursor: pointer;
}

.product-quantity{
	width: 3rem;
	margin: 0 -0.3rem;
	vertical-align: top;
	font-size: 1rem;
	padding: .5rem;
	outline: 0;
	text-align: center;
	border: 2px solid #333;
}

.product-price{
	width: 3rem;
	display: inline-block;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2.4rem;
	vertical-align: top;
	margin-top: 4vw;
}

.product-delete{
	width: 2rem;
	display: inline-block;
	text-align: right;
	color: red;
	font-size: 1.5rem;
	font-family: sans-serif;
	line-height: 2.4rem;
	cursor: pointer;
	vertical-align: top;
	margin-top: 4vw;
}

.product-recommend{
	width: 20%;
	display: inline-block;
	white-space: initial;
}

.pr-img{
	height: 11vw;
	border-radius: 1rem;
	margin: .5rem;
	position: relative;
	overflow: hidden;
}

.pr-img img{
	position: absolute;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
}

.card.pr{
	overflow-x: hidden;
	white-space: nowrap;
}

.card.amount{
	font-size: 1.2rem;
}

.button{
	padding: 1rem;
	background: #ffd966;
	cursor: pointer;
}

.user-button{
	margin-top: 25px;
	display: inline-block;
}

footer{
	font-size: .8rem;
	padding: 2rem;
	text-align: center;
}

.clear{
	clear: both;
}

input, select{
	font-family: "微軟正黑體";
}